<!doctype html>
<html>
    <head>
        <title>{{title}}</title>
        <style>
                .error {
                    color: red;
                }
        </style>
        
    </head>
<body>
    <nav>
        <h1>Welcome to My Blog!</h1>
        <header id="header">
            {% block header %}<h6> &copy; Copyright 2018 <a href="http://www.peterzettl.com">peter zettl</a> </h6>{% endblock %}
    
        </header>
        
        <hr>
        <div>
        <button><a href="/posts" ><h2>View My Blog</h2></a></button>
        
        <button><a href="/newpost"><h2>Add a New Post</h2></a></button>
        
        <button><a href="/logout"><h2>Logout</h2></a></button>
        </div>
        </hr>
    </nav> 
    
    <form action="/" method="post">

        
        <h2>
            <p>Welcome, {{ username }} !!!</p>
        </h2>
        
    
    </form>

    <!--<nav>
        <a href="/blog">Blog</a>
        <a href="/newpost"></a>
    </nav>-->

    <!--{% with messages = get_flashed_messages(with_categories=True) %}
    <ul>
    {% for category, message in messages %}
        <li class="{{category}}">{{message}}</li>
    {% endfor %}
    </ul>
    {% endwith %}-->
</body>
    <hr>
        
    {% block content %}
    
    {% endblock %}


</html>