<!doctype html>
<html>
    <head>
        <title>{{title}}</title>
        <style>
                .error {
                    color: red;
                }
        </style>
        
    </head>
<body>
    <nav>
        <h1>Welcome to My Blog!</h1>
        <hr>
        <h2><a href="/posts">View My Blog</a></h2>
        </hr>
        <hr>
        <h2><a href="/newpost">Add a New Post</a></h2>
        
        </hr>
    </nav> 
    
    <form action="/" method="post">

        
        <h2>
            <p>Welcome, {{ username }} !!!</p>
        </h2>
        
    
    </form>

    <!--<nav>
        <a href="/blog">Blog</a>
        <a href="/newpost"></a>
    </nav>-->

    <!--{% with messages = get_flashed_messages(with_categories=True) %}
    <ul>
    {% for category, message in messages %}
        <li class="{{category}}">{{message}}</li>
    {% endfor %}
    </ul>
    {% endwith %}-->
</body>
    <hr>
        <footer id="footer">
        {% block footer %} &copy; Copyright 2018 <a href="http://www.peterzettl.com">peter zettl</a> {% endblock %}

        </footer>
    {% block content %}
    {% endblock %}


</html>