<!doctype html>
<html>
    <head>
        <title>{{title}}</title>
        <!--<link rel="stylesheet" href="/css/normalize.css">
        <link rel="stylesheet" href="/css/styles.css">-->
        <style>
                .error {
                    color: red;
                }
        </style>
        
    </head>
<body>
    <nav>
            
        <header id="header">
            {% block header %}
            <table>
                <tbody>
                    <tr>
                        <td><p><h1>Welcome to BlogZ!</h1>{% endblock %}
                        </td>
                        <td><label for="header" class="text" style="display:inline-block;"><p><h6> &copy;2018 <a href="http://www.peterzettl.com">zettl</a> </h6></p></label></td>
                    </tr>
                </tbody>
            </table>
        </header>
        
        <hr>
        <div>
            <ul>
                    <button><a href="/" ><h2>Home</h2></a></button>

                    <button><a href="/posts" ><h2>Blogs</h2></a></button>

                    <button><a href="/singleUser" ><h2>My Blog</h2></a></button>
                
                    <button><a href="/newpost"><h2>Add a New Post</h2></a></button>
             
                    <button><a href="/login"><h2>Login</h2></a></button>
                
                    <button><a href="/logout"><h2>Logout</h2></a></button>

                    <button><a href="/about"><h2>About</h2></a></button>
                
            </ul>
            
        </div>
        </hr>
    </nav> 
    <hr>
    <form action="/" method="post">

        
        <!--<h2>
            <p>Write what you want when you want</p>
            
            <p>{{ username }}</p>
            <p>{{ id }}</p>
            <p>{{ title }}</p>
        </h2>-->
        
        
        
    </form>
    
    
    

    <!--<nav>
        <a href="/blog">Blog</a>
        <a href="/newpost"></a>
    </nav>-->

    <!--{% with messages = get_flashed_messages(with_categories=True) %}
    <ul>
    {% for category, message in messages %}
        <li class="{{category}}">{{message}}</li>
    {% endfor %}
    </ul>
    {% endwith %}-->
</body>
   
    {% block content %}
    
    {% endblock %}
<hr>
<footer for="footer">
    {% with messages = get_flashed_messages() %} 
    <ul>
    {% for messages in messages %}
    <li><font color= 'blue'>{{ messages }}</font></li>
    {% endfor %}
    </ul>
    {% endwith %}
</footer>  
</html>