{% extends "base.html" %}
{% block content%}



<h2>
    <p> {{ user }} </p>
</h2>
<hr>



<ul>
    <h5>Posts</h5>
    
       
    <h4> {{ blog.title }}</h4>
    <p> {{ blog.body }}</p>
    <p>{{ blog.owner_id }}</p>
    <p>{{ user.username }}</p>

    
    <hr>
    
    
    
</ul>


</hr>
<label for="posts"> 
        <a href="/newpost"><input type="submit" name = "{{ username }}" value='Post Again!'></a>
        <a href="/singleUser"><input type="submit" name = "{{ username }}" value='My Posts!'></a>
        <a href="/posts"><input type="submit" name = "{{ username }}" value='All Posts'></a>
</label>
<hr>
        <footer id="footer">
        {% block footer %} &copy;2018 <a href="http://www.peterzettl.com">zettl</a> {% endblock %}

        </footer>
{% endblock%}