{% extends "base.html" %}
{% block content%}


<hr>

            <h4>{{ blog.title }}</h4>
            <p> {{ blog.body }}</p>
            <p><a href="/posts?id={{blog.owner.username}}">{{ blog.owner.username}}</a></p>


</hr>
<label for="posts"> 
        <a href="/newpost"><input type="submit" name = "{{ username }}" value='Post Again!'></a>
        <a href="/singleUser"><input type="submit" name = "{{ username }}" value='My Posts!'></a>
        <a href="/posts"><input type="submit" name = "{{ username }}" value='All Posts'></a>
</label>
<hr>
        <footer id="footer">
        {% block footer %} &copy;2018 <a href="http://www.peterzettl.com">zettl</a> {% endblock %}

        </footer>
{% endblock%}