
{% block content%}



<h2>
    <p> {{ username }} </p>
</h2>
<hr>



<ul>
    <h5>My Post</h5>
    
        
    <h4> {{ blog.title }}</h4>
    <p> {{ blog.body }}</p>
    <hr>
    
    
    
</ul>


</hr>
<label for="posts"> Return to main page:
        <a href="/posts"><input type="submit"  value='Go Back!'></a>
</label>
<hr>
        <footer id="footer">
        {% block footer %} &copy; Copyright 2018 <a href="http://www.peterzettl.com">peter zettl</a> {% endblock %}

        </footer>
{% endblock%}