
{% block content %}
<body>
        <head>
                <title>{{title}}</title>
                <style>
                        .error {
                            color: red;
                        }
                </style>
                
            </head>
        <body>
    
</body>
<h1>Login to BlogZ!</h1>

<form action="/login" method = 'POST'>
    <table>
        <tr>
            <td><label for="username">Username</label></td>
            <td>
                <input name="username"  type="text" value = "{{ username }}">
                <label for="error" class="error" style="display:inline-block;"><p>{{ error }}</p></label>
            </td>
        </tr>   
        
        <tr>
            <td><label for="password">Password</label></td>
            <td>
                <input name ="password" type="password" >
                <!--<label for="error" class="error" style="display:inline-block;"><p>{{ error }}</p></label>-->
            </td>
            
        </tr>
        
    </table>
    <input type="submit" value="Login">
</form>
<p><h3>No account?<a href="/signup"> Sign up here!</a></h3></p>
<label for="error" class="error" style="display:inline-block;"><p>{{ error }}</p></label>
<footer for="footer">
        {% with messages = get_flashed_messages(with_categories=True) %} 
        <ul>
        {% for category, message in messages %}
        <li class="{{category}}">{{ message }}</li>
        {% endfor %}
        </ul>
        {% endwith %}
    </footer>
{% endblock %}