{% extends "base.html" %}
{% block content%}

<hr>

{% if blog|length == 0 %}
<p><h2>No posts yet</h2></p>

{% endif %}

<ul>
    {% for id in blog: %} 
        <h4><a href="/blog?id={{id.id}}">{{ id.title }}</a></h4>
        <p> {{ id.body }}</p>
        <p> {{ id.owner }}</p>
        <hr>
    {% endfor %}
    
    
</ul>


</hr>
<hr>
        <footer id="footer">
        {% block footer %} &copy; Copyright 2018 <a href="http://www.peterzettl.com">peter zettl</a> {% endblock %}

        </footer>

{% endblock%}