{% extends "base.html" %}

{% block content%}


<p><a href="/blog?user={{user.blogs}}">{{ user.username}}</a></p>
  
<ul>
  
<hr>
<h5>My Posts</h5>
<ul>   
{% for blog in user.blogs: %} 
<li>
    <h3><p><a href="/blog?id={{blog.id}}"><strong>{{ blog.title }}</strong></a></p></h3>
    <p> {{ blog.body }}</p>
    
    <hr>
</li>
{% endfor %}
</ul>

<hr>
 


</hr>
<label for="index"> 
        <a href="/base"><input type="submit" name = "{{ username }}" value='Home or Login'></a>
</label>
<hr>
        <footer id="footer">
        {% block footer %} &copy;2018 <a href="http://www.peterzettl.com">zettl</a> {% endblock %}
        
        </footer>
{% endblock%}