{% extends "base.html" %}

{% block content%}
{% if username == None %}
<p><h2>User please login!</h2></p> 
{% else %}
<p> {{ username }} </p>
{% endif %}




<ul>
    <h2>
        
    </h2>
    <h5>My Posts</h5>
    
       
    <h4> {{ blog.title }}</h4>
    <p> {{ blog.body }}</p>
    <hr>
 
</ul>


</hr>
<label for="index"> 
        <a href="/base"><input type="submit" name = "{{ username }}" value='Home or Login'></a>
</label>
<hr>
        <footer id="footer">
        {% block footer %} &copy;2018 <a href="http://www.peterzettl.com">zettl</a> {% endblock %}
        
        </footer>
{% endblock%}