{% extends "base.html" %}

{% block content%}
{% if blog.owner == None %}
<p><h2>User please login!</h2></p> 
{% endif %}
<h2>{{ username.username }}</h2>
  
    <ul>
    <h3>{{ blog.username }}</h3>
<hr>
<h5>My Posts</h5>
<ul>   
{% for id in user: %} 
<p> {{ id.blogs }}</p>
{% endfor %}

<hr>
 
</ul>

</hr>
<label for="index"> 
        <a href="/base"><input type="submit" name = "{{ username }}" value='Home'></a>
</label>
<hr>
        <footer id="footer">
        {% block footer %} &copy;2018 <a href="http://www.peterzettl.com">zettl</a> {% endblock %}
        
        </footer>
{% endblock%}